<label  class="labels" id="s"> {{question.question}}</label>
<mat-radio-group [formControl]="cartoonControl" aria-labelledby="example-radio-group-label" class="example-radio-group"
  [(ngModel)]="sendAnswer">
  <mat-radio-button (change)="sendValue($event,i)" *ngFor="let answer of question.answer; let i = index "
    class="radio-button" [name]="answer?.weight" [value]="answer">
    {{answer?.answer}}  
  </mat-radio-button>
</mat-radio-group>
<mat-error *ngIf=" question.isRed && cartoonControl.touched == false">Please choose an option</mat-error>