.radio-button{
    margin: 0px 15px 0px 0px;
    padding: 5;
  }
  .example-radio-group{
    font-family: "Fira Sans";
    font-size: 16px;
    line-height: 20px;
    display: flex;
    flex-direction: column;
  }

.labels{
  font-family: "Fira Sans";
  font-size: 16px !important;
  line-height: 20px;
}

 