.p-30{
    padding:30px;
}
.h-100{
    height:100vh;
}
.w-100{
    width: 100%;
}
.w-70{
    width: 70%;
}
.landingPage__header__container{
    img{
        margin-left: -10px;
        width: 60px;
    }
    span{
        font-size: 20px;
        font-family: "Nunito Sans";
        font-weight: 400;
        text-align: center;
        display:flex;
        align-items: center;
    }
}
.landingPage__main__container{

    .heading__bolder{
        font-weight: 700;
        font-size: 25px;
        font-style: italic;
        font-family: "Nunito Sans";
    }
    .heading__light{
        font-size: 25px;
        font-weight: 300;
        font-family: "Nunito Sans";
        line-height: 30px;

    }
    .heading__light__sub{
        font-family: "Nunito Sans";
        font-size: 22px;
        font-style: italic;
        
        line-height: 30px;
    }
    .login__button{
        border-radius: 8px;
        background-color: #E87373;
      
    }
   
}
.landingPage__footer__cards{
    h1{
        font-weight: 700;
        font-size: 25px;
        font-style: italic;
        font-family: "Nunito Sans";
    }
    p{
        font-family: "Nunito Sans";
        font-size: 22px;
        font-style: italic;
        line-height: 30px;

    }
        }   

.mob_view{
    .landingPage__header__container{
        img{
            color: #333;
            font-family: "Fira Sans";
            font-size: 22px;
            line-height: 26px;
        }
        span{
            color: #333;
            font-family: "Nunito Sans";
            font-size: 19px;
            font-style: italic;
            line-height: 26px;
            text-align: center;
        }
    }
    .login__button{
        border-radius: 8px;
        background-color: #E87373;
      
    }
    .heading__Container{
        .heading__bolder{
            color: #333;
            font-family: "Nunito Sans";
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }
        .heading__light{
            color: #434343;
            font-family: "Nunito Sans";
            font-size: 13px;
            font-style: italic;
            line-height: 18px;
          
        }
    }
    .w-100{
        width: 100%;
    }
}