
<div class="container-fluid p-30 h-100 d-none d-md-block">
    <div class="row  p-30">
        <div class="col-md-6 col-12">
            <div class="row landingPage__header__container">
                <img src="../../../../assets/Sva updated Logo svg.svg" alt="">
                <span>- You First</span>
            </div>
            <div class="row landingPage__main__container">
                <div class="heading__Container mt-4">
                    <span class="heading__bolder">Being you is not easy.</span>  <span class="heading__light"> There are +7 billion people on this planet, there's just one of you.</span>

                </div>
                <div class="heading__Container mt-4">
                    <span class="heading__bolder">Svā is a wellness platform focused on holistic development.</span><span class="heading__light"> We believe wellness is a journey involving all senses.</span>

                </div>
                <div class="heading__Container mt-4">
                    <span class="heading__bolder">Covid-19</span>
                    <p class="heading__light__sub">Simple screening tool.Screen yourself and your family, friends and colleagues. Create groups of people you engage with and gain visibility on their health risk status </p>

                </div>
                <button routerLink="/login" mat-raised-button class="login__button" 
                color="primary">Sign up for free</button>
            </div>
            <div class="row landingPage__footer__cards mt-4">
                <div class="col-md-6 p-0">
                    <h1>Journey (Coming soon)</h1>
                    <p>A journey, to better understand yourself, is made up of multiple paths. Select curated paths to work on, engage your senses and achieve your wellness goals.</p>
                </div>
                <div class="col-md-6 p-0">
                    <h1>Vitals (Coming soon)</h1>
                    <p>Record, track and easily share your body’s vitals with family and medical professionals.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img class="w-70 mx-auto d-block" src="../../../../assets/images/Small-Web-Mountain.jpg" alt="">
        </div>
    </div>
</div>
<div class="container-fluid d-md-none mob_view">
    <div class="row mt-2">
        <div class="col-6 ">
            <div class="ml-2 mt-2 landingPage__header__container">
                <img class="d-inline-block" src="../../../../assets/Sva updated Logo svg.svg" alt="">
                <span class="d-inline-block">- You First</span>
            </div>
        </div>
        <div class="col-6">
            <button routerLink="/login" mat-raised-button class="m-2 d-block ml-auto login__button" 
            color="primary">Sign up for free</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <img class="w-100 mx-auto d-block" src="../../../../assets/images/Group.png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 mt-4 heading__Container">
            <span class="heading__bolder">Being you is not easy.</span>  <span class="heading__light"> There are +7 billion people on this planet, there's just one of you.</span>
        </div>
        <div class="col-sm-12 mt-4 heading__Container">
            <span class="heading__bolder">Svā is a wellness platform focused on holistic development.</span><span class="heading__light"> We believe wellness is a journey involving all senses.</span>
        </div>
        <div class="col-sm-12 mt-4 heading__Container">
            <span class="heading__bolder">Covid-19</span>
            <p class="heading__light__sub">Simple screening tool. Screen yourself and your family, friends and colleagues. Create groups of people you engage with and gain visibility on their health risk status </p>
</div>
        <div class="col-sm-12 mt-4 heading__Container">
            <span class="heading__bolder">Journey (Coming soon)            </span>
            <p class="heading__light__sub">A journey, to better understand yourself, is made up of multiple paths. Select curated paths to work on, engage your senses and achieve your wellness goals.

            </p>
</div>
        <div class="col-sm-12 mt-4 heading__Container">
            <span class="heading__bolder">Vitals (Coming soon)            </span>
            <p class="heading__light__sub">Record, track and easily share your body’s vitals with family and medical professionals.            </p>
</div>
        
    </div>
</div>