<div class="container-fluid" *ngIf="showName">
    <div class="row headerRow">
        <div class="col-4">
            <span>Date</span>
        </div>
        <div class="col-4">
            <span>Name</span>
        </div>
        <div class="col-4">
            <span>Risk</span>
        </div>
    </div>
    <div class="row contentRow" *ngFor='let item of recentReportArray'>
        <div class="col-4">
            <span *ngIf="item?.createdDate">{{item?.createdDate | date: 'dd/MM/yyyy'}}</span>
            <!-- <span *ngIf="!item?.createdDate">Not Screened</span> -->
        </div>
        <div class="col-4" >
            <span>{{item?.userName}}</span>
        </div>
        <div class="col-4">
            <span  [ngClass]="{'orange': item?.zone =='Moderate', 'green': item?.zone =='Safe', 'red': item?.zone =='High'}">{{item?.zone}}</span>
        </div>
    </div>
   
  
 
</div>
 <div class="container-fluid" *ngIf='!showName'>
    <div class="row headerRow">
        <div class="col-4">
            <span>Date</span>
        </div>
        
        <div class="col-8 text-right pr-1">
            <span>Risk</span>
        </div>
    </div>
    <div class="row contentRow" *ngFor='let item of recentReportArray'>
        <div class="col-4">
            <span *ngIf="item?.createdDate">{{item?.createdDate | date: 'dd/MM/yyyy'}}</span>
            <!-- <span *ngIf="!item?.createdDate">Not Screened</span> -->
        </div>
       
        <div class="col-8 text-right pr-1">
            <span  [ngClass]="{'orange': item?.zone =='Moderate', 'green': item?.zone =='Safe', 'red': item?.zone =='High'}">{{item?.zone}}</span>
        </div>
    </div>
   
  
 
</div> 