.headerRow{
    span{
        text-transform: uppercase;
        color: #000;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 11px;
    }
}
.contentRow{
    margin-top: 5px;
    margin-bottom: 5px;
    span{
        color: #000;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        line-height: 20px;
    }
    .orange{
        color: #feab37;
        padding: 2px 5px;
        font-size:16px;
        border-radius: 10px;
        font-family: 'Roboto';
        font-weight: 500;
    }
    .green{
        color:#28d886;
        padding: 2px 5px;
        font-size:16px;
        border-radius: 10px;
        font-family: 'Roboto';
        font-weight: 500;
    }
    .red{
        color:   #ff4a45;
        padding: 2px 5px;
        font-size:16px;
        border-radius: 10px;
        font-family: 'Roboto';
        font-weight: 500;
    }
}