<div class="container-fluid mobileView">
    <div class="group__header">
      <h1>Assessment </h1>
  
    </div>
    <div class="group__body">
      <p>Do you have ...</p>
        <ng-container *ngFor="let item of questionBank"> 
                        <app-radio class="questionbox" (sendData)="countChangedHandler($event)" 
                        [question]="item"></app-radio>
                      </ng-container>    
        <h3 class="m-2">This tool helps assess your symptoms and determine if you're at risk of infection. Answer accurately. It also offers guidance on when to seek medical care and what to do in the meantime. This tool is not meant to take the place of consultation with your health care provider or to diagnose or treat conditions. If you're in an emergency medical situation, seek immediate medical attention.</h3>

                      <div class="row footer">
                        <button mat-raised-button class="sumbit__button" (click)="sumbit()" color="primary">Submit</button>
                      </div>
                      
    </div>
   
  </div>
  