::ng-deep app-assesments{
  width: 100%;
}



::ng-deep .mat-radio-inner-circle{
  background-color: #F29D9D !important;
}
.mobileView {
    margin: 0px;
    padding: 0px;
    height: 100%;
    .group__header {
      background-color: #E87373;
      padding: 30px 35px 30px 20px;
      h1 {
        color: white;
        margin: 0px;
        font-family: "Fira Sans";
        font-size: 28px;
      }
  
      h5 {
        color: white;
        margin: 0px;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
      }
  
  
  
    
  
     
    }
  .group__body{
    padding: 15px;
    height: calc(100% - 100px);
    overflow: auto;
    h3{
      font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  
    }
    }

  }
 
  
  .questionbox{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid    #E0E0E0;
    border-bottom: 1px solid    #E0E0E0;
    padding: 10px;
    ;
  }
.footer{
  
  justify-content: center;

  .sumbit__button{
    background-color: #E87373;
  font-family: Roboto;
      color: white;
    text-transform: uppercase;
  }
}

