
<div class="container-fluid m-0 p-0">
    <div class="col-12 ">
        <div class="row topRow" >
        <div class="col-12">
            <h1>Repeat Last Results</h1>

        </div>
        <div class="col-12">
            <p>Last Status - {{data.zone}}</p>

        </div>
           
    </div>
     
        <div class="row    leaveRow"style="
        justify-content: space-between;
    ">
            <button (click)="repeatAnswer()" style="background-color: #E87373; color: white;" mat-raised-button class="repeatAnswerButton" >Repeat Answer</button>
            <button (click)="closeDialogeBox()" mat-raised-button class="cancelDialogeButton" >Screen Now</button>
        </div>
    </div>

</div> 