.webview {
  margin: 0px;
  padding: 0px;
  height: 100%;
  .layout__header {
    background-color: #E87373;
    padding: 30px 45px 30px 35px;
    height: 100px;
    display: flex;
    .layout__header__caption {
      width: 50%;
      display: inline-block;
          justify-content: space-around;
      h1 {
        color: white;
        margin: 0px;
        font-family: "Fira Sans";
        font-size: 28px;
      }

      h5 {
        color: white;
        margin: 0px;
        color: #fff;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
      }
    }

    .layout__header__actionbar {
      display: inline-block;
      width: 50%;
      justify-content: flex-end;
      .action__card {
        display: flex;
        flex-direction: column;
        color: white;
        margin-left: auto;
        width: fit-content;

        span {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 300;
          line-height: 19px;
          text-transform: capitalize;
          margin-left: 10px;
          display: block;
        }
      }
    }

    .action__btn {
      background-color: #f29D93;
      .action__btn__img {

        height: 15.97px;
        width: 12.83px;
        margin-right: 10px;
      }

      background-color: white;
      color: black;
      text-transform: uppercase;
    }
  }

  .layout__body {
    padding: 15px;
    height: calc(100% - 100px);
    overflow: auto;
    .card__mind {
      background: linear-gradient(270deg, #fdcd34 0%, #f80 100%);
      .card__tittle {
        background-color: rgba(253, 205, 110, 0.5);
        color: #f80;
      }
      .card__caption {
        font-size: 13px;
        font-weight: 300;
        line-height: 19px;
      }
    }
    .card__MindReport {
      border-radius: 5px;
      border: 1px solid #E88888;
      // background: linear-gradient(270deg, #f77ca6 0%, #a352dd 100%);
      .card__tittle {
        color: white;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 500;
        line-height: 19px;
        border-radius: 5px;
        background-color: #EA8181;
      }
    }
    .card__bodyReport {
      border-radius: 5px;
      border:1px solid #E88888;
      // background: linear-gradient(270deg, #feab37 0%, #f56a9a 100%);
      .body__reportContainer {
        // background-color: #f2f2f2;
        // padding: 15px;
        border-radius: 5px;
        width: 100%;
      }
      .card__tittle {
        border-radius: 5px;
        background-color: #EA8181;
        color: white;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
      }
    }
    .card__activity {
      border-radius: 5px;
      border:1px solid #E88888;
      // background: linear-gradient(90deg, #a352ff 0%, #00cfe0 100%);
      .action__btn__img {

        .card__bg__icon {
          transform: scaleX(-1);
        }
      }
      .card__tittle {
        border-radius: 5px;
        background-color: #EA8181;
        color: white;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
      }
      .card__text__action {
        display: block;
        width: 100%;
        text-align: right;
        // color: #fff;
        height: 35px;
        font-family: Roboto;
        font-size: 34px;
        line-height: 19px;
      }
      .card__text__action__date {
        // color: white;
        font-family: "Fira Sans";
        font-size: 22px;
        line-height: 29px;
        margin-top: 15px;
        z-index: 1;
        display: block;
      }
    }
    .card__group {
      // background: linear-gradient(270deg, #28d886 0%, #008efb 100%);
      border:1px solid #E88888;
      .action__btn{
        background-color: #f29D93;
        color: white;
      }
      .action__btn__img {

        .card__bg__icon {
          transform: rotate(180deg);
        }
      }
      .card__tittle {
        color: white;
        font-family: Roboto, "Arial", sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
        border-radius: 5px;
        background-color: #EA8181;
      }
      .card__caption {
        font-family: Roboto;
        font-size: 45px;
        font-weight: 300;
        line-height: 19px;
        margin-top: 15px;
      }
      .action__btn__img {
        width: 24px;
        margin-right: 5px;
      }
      .action__btn {
        font-size: 14px;
        font-weight: 500;
        line-height: 19px;
        padding: 5px 10px;
      }
    }
    .mycard__card {
      border-radius: 5px;
      padding: 15px;
      position: relative;
      height: 100%;
      margin-bottom: 15px;
      .card__bg__icon {
        position: absolute;
        width: 124px;
        right: 0;
        opacity: 0.5;
        top: 0;
      }

      .card__tittle {
        text-transform: capitalize;
        border-radius: 5px;

        padding: 5px;

        font-family: Roboto, "Arial", sans-serif;
        font-size: 13px;
        font-weight: 500;
        line-height: 19px;
      }

      .card__heading {
        // color: white;
        font-family: "Fira Sans";
        font-size: 22px;
        line-height: 29px;
        margin-top: 15px;
        z-index: 1;
      }
      .card__caption {
        // color: #fff;
        font-family: Roboto;

        z-index: 1;
      }
      .card__emoticon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        z-index: 1;
        img {
          width: 30px;
        }
      }
      .row {
        margin: 0px;
      }
    }
  }
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .layout__body {
    height: calc(100% - 150px) !important;
  }
  .layout__header {
    // background-color: #3a77fe;
    padding: 15px 35px 15px 35px !important;
    height: 150px !important;
    display: flex !important;
    justify-content: space-around;
    flex-direction: column !important;
  }
  .layout__header__caption {
    width: 100% !important;
    display: block !important;
  }
  .layout__header__actionbar {
    display: inline-block !important;
    width: 100% !important;
    justify-content: flex-e nd !important;
  }
 
}
