<div class="container-fluid webview">
  <div class="layout__header">
    <div class="layout__header__caption">
      <h1>Hello, {{ UserModel?.firstName }}</h1>
      <h5>Have you screened yourself today ?</h5>
    </div>

    <div class="layout__header__actionbar">
      <div class="action__card">
        <!-- <span>Know your</span> -->
        <button
          mat-raised-button
          class="action__btn"
          routerLink="/app/assesment/body"
        >
       
          screen yourself
        </button>
      </div>
      <!-- <div class="action__card">
        <span>Know your</span>
        <button mat-raised-button class="action__btn" routerLink="/assesment/mind"> <img class="action__btn__img"
            src="../../../assets/icons/Capa_1.png" alt="">Mind</button>
      </div> -->
    </div>
  </div>
  <div class="layout__body">
    <div class="row m-0 p-0">
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <app-smilecard></app-smilecard>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="mycard__card card__group">
          <div>
            <div class="action__bg__icon">
              <!-- <img
                class="card__bg__icon"
                src="../../../assets/icons/puzzles.svg"
                alt=""
              /> -->
            </div>
            <div class="row">
              <span class="card__tittle">Groups</span>
            </div>
            <div class="row">
              <span class="card__heading">Active Groups</span>
            </div>
            <div class="row">
              <span class="card__caption" routerLink="/app/group">{{
                CountOfGroups
              }}</span>
            </div>
          </div>
          <div class="row mt-4">
            <button
              mat-raised-button
              class="action__btn ml-auto"
              (click)="openCreateGroupBox()"
            >
              <!-- <img
                class="action__btn__img"
                src="../../../assets/icons/group.svg"
                alt=""
              /> -->
              New Group
            </button>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="mycard__card card__activity">
          <div class="action__bg__icon">
            <!-- <img
              class="card__bg__icon"
              src="../../../assets/icons/time-management.svg"
              alt=""
            /> -->
          </div>
          <div class="row">
            <span class="card__tittle">Activity</span>
          </div>
          <div class="row">
            <div class="col-6 m-0 p-0">
              <p class="card__heading">Joined on </p>

            </div>
            <div class="col-6 p-0 m-0 text-right">
              <span class="card__text__action__date"
              >
              <p class="card__heading">Last screened on </p>
            </span>
            </div>
          </div>
          <div class="row">
            <div class="col-6 p-0 m-0">
              <p class="card__heading">{{ UserModel.creationDate | date: "dd/MM/yyyy" }} </p>

            </div>
            <div class="col-6 p-0 m-0 text-right">
            <span class="card__text__action__date">{{lastAssessmentDate?.createdDate | date: "dd/MM/yyyy" }}</span>
            
            </div>
          </div>
          <div class="row mt-4">
            
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="mycard__card card__bodyReport">
          <div class="row">
            <span class="card__tittle">Covid 19</span>
          </div>
          <div class="row">
            <span class="card__heading">Report</span>
          </div>
          <div class="row mt-2">
            <app-recent-report-view
              class="body__reportContainer"
              *ngIf="showPersonalData"
              [recentReportArray]="RecentReport"
            ></app-recent-report-view>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="mycard__card card__MindReport">
          <div class="row">
            <span class="card__tittle">Journey</span>
          </div>
          <div class="row">
            <span class="card__heading">Coming Soon ! </span>
            <p class="mt-3">A journey, to better understand yourself, is made up of multiple paths. Select curated paths to work on, engage your senses and achieve your wellness goals.</p>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 mb-3">
        <div class="mycard__card card__MindReport">
          <div class="row">
            <span class="card__tittle">Vitals</span>
          </div>
          <div class="row">
            <span class="card__heading">Coming Soon ! </span>
            <p class="mt-3">Record, track and easily share your body’s vitals with family and medical professionals.
.</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-12"></div>
  </div>
</div>
