<div class="container-fluid mobileView">
    <div class="group__header">
      <h1>Profile</h1>
   
    </div>
    <div class="group__body">
<!-- <div class="topcard">
  
    <div class="metadetaols ml-5">
        <h1 >{{myUser.firstName}} {{myUser.lastName}}</h1>
        <h3>{{myUser?.mobileNo}}</h3>
        <h3>{{myUser?.emailId}}</h3>
        
 
    </div>
</div> -->
<div class="basicInfoCard mt-2">
    <div class="cardName">
        <img src="../../../../assets/svg/Profile Basic Info Transparent.svg" alt=""> <span>Basic Info</span>
    </div>
    <div class="cardDetails">
       <div *ngIf="!editProfile">
            <div class="row">
                <span class="smalls">First Name</span>
            </div>
            <div class="row">
                <span class=" caps">{{myUser?.firstName}}</span>
            </div>
            <!-- <div class="row">
                <span class="smalls">Middle Name</span>
            </div>
            <div class="row">
                <span class="caps"> {{myUser?.middleName}} </span>
            </div> -->
            <div class="row">
                <span class="smalls">Last Name</span>
            </div>
            <div class="row">
                <span class="caps">  {{myUser?.lastName}} </span>
            </div>
       </div>
    <div *ngIf="editProfile">
            <div class="row">
             
             <mat-form-field  class="form-field mt-3" appearance="fill">
                 <mat-label>First Name</mat-label>
                 <input name="FirstName" [(ngModel)]="UserModel.firstName" matInput placeholder="John">
               </mat-form-field>
             <mat-form-field appearance="fill"  class="form-field ">
                 <mat-label>Middle Name</mat-label>
                 <input name="MiddleName" [(ngModel)]="UserModel.middleName"  matInput placeholder="shawn">
               </mat-form-field>
             <mat-form-field appearance="fill"  class="form-field ">
                 <mat-label>Last Name</mat-label>
                 <input name="LastName"  [(ngModel)]="UserModel.lastName" matInput placeholder="Doe">
               </mat-form-field>
            </div>
       
    </div>
      
      
    </div>
</div>
<div class="basicInfoCard">
    <div class="cardName">
        <img src="../../../../assets/svg/Profile Contact Transparent.svg" alt=""> <span>Contact</span>
    </div>
    <div class="cardDetails">
        <div class="row">
            <span class="smalls">Email </span>
        </div>
        <div class="row">
            <span class="caps"> {{myUser?.emailId}}  </span>
        </div>
        <ng-template [ngIf]="!editProfile">
            <div class="row">
                <span class="smalls">Mobile</span>
            </div>
            <div class="row">
                <span class="caps">{{myUser?.mobileNo}}</span>
            </div>
        </ng-template>
        <ng-template [ngIf]="editProfile">
            
            <mat-form-field  class="form-field mt-3" appearance="fill">
                <mat-label>Mobile No</mat-label>
                <input name="MobileNo" [(ngModel)]="UserModel.mobileNo"matInput placeholder="John">
              </mat-form-field>
        </ng-template>
        
    
      
    </div>
</div>
<!-- <div class="basicInfoCard">
    <div class="cardName">
        <img src="../../../../assets/svg/Profile Privacy Transparent.svg" alt=""> <span>Privacy</span>
    </div>
    <div class="cardDetails">
        <div class="row">
            <span class="smalls">Login Mail</span>
        </div>
        <div class="row">
            <span class="caps">{{myUser?.emailId}}  </span>
        </div>
        
       
      
    </div>
</div> -->

    </div>
   <div class="group__footer">
    <button mat-raised-button class="logout__button"  (click)="logout()">
        <img src="../../../../assets/svg/Logout Icon Transparent.svg" alt="">
        LogOut </button>
       </div>
  </div>
  