.mobileView {
  margin: 0px;
  padding: 0px;
  height: 100%;

  .group__header {
    background-color: #E87373;
    padding: 30px 45px 30px 35px;
    height: 100px;
    display: flex;
          h1 {
        color: white;
        margin: 0px;
        font-family: "Fira Sans";
        font-size: 28px;
      }
  
      h5 {
        color: white;
        margin: 0px;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
      }

    .group__header__actionbar {
      display: flex;
      justify-content: flex-end;

    }

    .action__card {
      display: flex;
      margin: 30px 15px 0px 15px;
      flex-direction: column;
      color: white;

      span {
        font-family: Roboto;
        font-size: 12px;
        font-weight: 300;
        line-height: 19px;
        text-transform: uppercase;
        margin-left: 10px;
        display: block;
      }
    }

    .action__btn {
      .action__btn__img {

        //   height: 15.97px;
        //   width: 12.83px;
        margin-right: 10px;


      }

      background-color: white;
      color:black;
      text-transform: uppercase;
    }
  }
.group__footer{
  height: 50px;
  padding-left: 15px;
  padding-right: 15px;
  .logout__button{
    float: right;
    img{
      width: 15px;;
    }
  }
}

  .group__body {
    padding: 15px;
    height: calc(100% - 145px);
    // overflow: scroll;

    .topcard {
      display: flex;
      margin-top: 7px;
      border-bottom: 1px solid    #E0E0E0;
      
      padding-bottom: 15px;

      .avatar {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: baseline;
        text-transform: uppercase;
        span {
          display: flex;
          font-size: 30px;
          background-color: yellow;
          width: 60px;
          border-radius: 50%;
          justify-content: center;
          height: 60px;
          align-items: center;
        }
      }

      .metadetaols {
        width: 70%;

        h1 {
          margin-bottom: 10px;
          font-family: Roboto;
          font-size: 20px;
          line-height: 16px;
        }

        h3 {
          margin-bottom: 0px;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 300;
          line-height: 18px;
        }
        .edit__button{
          float: right;
          margin-top: 30px;
          text-transform: uppercase;
        }
      }
    }
    .basicInfoCard{
      margin: 0px 0px 30px;
      .cardDetails{
        .row{
          margin:0px;
          .caps{
            margin-left: 45px;
            margin-top: 15px;
            font-family: Roboto;
            font-size: 20px;
            line-height: 16px;
          }
          .smalls{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 300;
            line-height: 18px;
            margin-left: 45px;
            margin-top: 15px;
          }
        }
      }
      .cardName{
        span{
          font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.2px;
    line-height: 18px;
        }
        img{
          width: 15px;
          margin: 0px 15px;
        }
      }
    }
  }
  .form-field{
    margin-left: 45px;
  }
}


::ng-deep .mat-dialog-container {
  padding: 0px !important;
}
