

.purple{
    background-color:#a352dd;
    .shareLink__drop{
      background-color: #8E34CC;
    }
  }
  .green{
    background-color:#00c36d;
    .shareLink__drop{
      background-color: #28d886;
    }
  }
  .yellow{
    background-color:#ffcd00;
    .shareLink__drop{
      background-color: #FFCD00;
    }
  }
  .red{
    background-color:#ff5c58;
    .shareLink__drop{
      background-color: #FF5C58;
    }
  }
  .blue{
    background-color:#2775fb;
    .shareLink__drop{
      background-color: #4E8EFB;
    }
  }
  .orange{
    background-color:#ff8800;
    .shareLink__drop{
      background-color: #FF8800;
    }
  }
  .lightblue{
    background-color:#00cfe0;
    .shareLink__drop{
      background-color: #00CFE0;
    }
  }
  .pink{
    background-color:#f4588d;
    .shareLink__drop{
      background-color: #f77ca6;
    }
  }
  

.topRow{
    background-color: #EA8181;
    padding: 15px 12px 0px 15px;    color: #FFF;
    font-family: "Fira Sans";
    font-size: 20px;
    line-height: 24px;
    justify-content: space-between;
    align-items: baseline;
    img{
        width: 22px;
        height: 22px;
    }
}
.middleRow{
    padding: 15px;
    max-height: 350px;
    display: flex;
    flex-direction: column;
.participant{
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    line-height: 9px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.participantCont{
    .bg-green{
        background-color: lightgrey;
        text-transform: capitalize;
    }
    .bg-yellow{
        background-color: lightgrey;
    }
    .bg-red{
        background-color: lightgrey;
    }
    .bg-grey{
        background-color: lightgrey;
    }
    
    span{
        padding: 10px;
       
        border-radius: 5px;
        margin: 5px;
        display: inline-block;
    }
  }
}
.leaveRow{
    display: block;
    float: right;
    padding: 15px;
    span{
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }
}