
<div class="container-fluid m-0 p-0">
    <div class="col-12 ">
        <div class="row topRow" [ngClass]="{'purple': backgroundColor === 'purple', 'green': backgroundColor === 'green', 'yellow': backgroundColor === 'yellow','red': backgroundColor === 'red','blue': backgroundColor === 'blue','orange': backgroundColor === 'orange','lightblue': backgroundColor === 'lightblue','pink': backgroundColor === 'pink'}">
       <h1>{{groupName}}</h1>
           
    </div>
        <div class="row middleRow">
       <h1 class="participant">Participants</h1>
      <div class="participantCont">
        <span class="bg-green" *ngFor="let item of listOfUsers">{{item.firstName}} {{item.lastName}}</span>
       


    </div>
        </div>
        <div class="row  leaveRow">
            <button (click)="exitgroup()" mat-raised-button class="leaveGroup" >Quit Group</button>
        </div>
    </div>

</div> 