
<div class="forgotPasswordCtr">
  <h1 mat-dialog-title>Reset Password  </h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill"> 
      <mat-label>Registered Email Id </mat-label>
      <input matInput [(ngModel)]="EmailId">
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="justify-content-space-around">
    <button mat-raised-button  (click)="onNoClick()">Cancel</button>
    <button mat-raised-button class="login__button" color="primary" (click)="submitForgetPassword()" cdkFocusInitial>Reset</button>
  </div>
</div>
<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
  <p class="loading">Loading Awesomeness...</p>
</ngx-spinner>