<div class="container-fluid mobileView p-0  d-md-none overflow-hidden">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  
  <div class="login__whiteContainer">
    <h1 class="login__tittle">Welcome to <span class="login__brand">Svā</span></h1>
    <img class="abstractimage" src= "../../../../assets/svg/Signup.svg"  alt="">
  </div>
  <div class="login__blueContainer">
    <div class="login__form mat-elevation-z18">
      <mat-tab-group animationDuration="200ms">
        <mat-tab label="Login">
          <form [formGroup]="validLoginForm">
            <mat-form-field class="login__formfield mt-3 w-100" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput required formControlName="v_emailId" autocomplete="off">
              <mat-error
                *ngIf="validLoginForm.get('v_emailId').hasError('email') && (validLoginForm.get('v_emailId').dirty || validLoginForm.get('v_emailId').touched)">
                Enter valid email
              </mat-error>
            </mat-form-field>
            <mat-form-field class="login__formfield w-100" appearance="outline">
              <mat-label>Password</mat-label>
              <input  required matInput type="password" formControlName="v_password" autocomplete="off">
            </mat-form-field>
            <span class="forgotPassword" (click)="openDialog()"> Forgot Password</span>
            <button mat-raised-button class="login__button" (click)="login()" [disabled]="!validLoginForm.valid"
              color="primary">LOGIN</button>
          </form>
        </mat-tab>
        <mat-tab label="Sign Up">
          <div class="login__signup__container overflow-scroll h-45">
            <form [formGroup]="signUpForm">
              <mat-form-field class="login__formfield mt-3 w-100" appearance="outline">
                <mat-label>First Name</mat-label>
                <input  autocomplete="off" required matInput formControlName="firstName">
              </mat-form-field>
              <!-- <mat-form-field class="login__formfield  w-100" appearance="outline">
                <mat-label>Middle Name</mat-label>
                <input autocomplete="off" matInput formControlName="middleName">
              </mat-form-field> -->
              <mat-form-field class="login__formfield  w-100" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input autocomplete="off" required matInput formControlName="lastName">
              </mat-form-field>
              <mat-form-field class="login__formfield w-100" appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select autocomplete="off"  required formControlName="gender">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="login__formfield  w-100" appearance="outline">
                <mat-label>Mobile Number</mat-label>
                <span matPrefix>+91 &nbsp;</span>

                <input autocomplete="off" required matInput formControlName="mobileNo">
              </mat-form-field>
              <mat-form-field class="login__formfield  w-100" appearance="outline">
                <mat-label>Email</mat-label>
                <input autocomplete="off" required matInput formControlName="email">
                <mat-error
                  *ngIf="signUpForm.get('email').hasError('email') && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">
                  Enter valid email
                </mat-error>
              </mat-form-field>
              <button mat-raised-button class="login__button" (click)="signUpFormData()" [disabled]="!signUpForm.valid"
                color="primary">SIGNUP</button>
            </form>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
<div class="container-fluid webView d-none d-md-flex">
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
  
  <div class="login__whiteContainer">
    <ng2-toasty></ng2-toasty>
    <h1 class="login__tittle">Welcome to <span class="login__brand">Svā</span></h1>
    <h3 class="">Login to track your health and progress online</h3>
    <img class="abstractimage" src="../../../../assets/svg/Signup.svg  " alt="">
    <form [formGroup]="validLoginForm">
      <mat-form-field class="login__formfield mt-3 w-100" appearance="outline">
        <mat-label>Email Id</mat-label>
        <input autocomplete="off"  matInput formControlName="v_emailId">
        <mat-error
          *ngIf="validLoginForm.get('v_emailId').hasError('email') && (validLoginForm.get('v_emailId').dirty || validLoginForm.get('v_emailId').touched)">
          Enter valid email
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login__formfield w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input autocomplete="off" required matInput type="password" formControlName="v_password">
      </mat-form-field>
      <span class="forgotPassword" (click)="openDialog()"> Forgot Password</span>
      <button mat-raised-button class="login__button" (click)="login()" [disabled]="!validLoginForm.valid"
        color="primary">LOGIN</button>
    </form>
  </div>
  <div class="login__blueContainer">
    <div class="signup__whitebox">
      <h1 class="signup__tittle">Create an Account</h1>
      <h3 class="signup__copy">New to Svā? let’s sign you up</h3>
      <div class="signup__scrolldiv">
        <form [formGroup]="signUpForm">
          <mat-form-field class="login__formfield mt-3 w-50" appearance="outline">
            <mat-label>First Name</mat-label>
            <input  autocomplete="off" required matInput formControlName="firstName">
          </mat-form-field>
          <!-- <mat-form-field class="login__formfield  w-50" appearance="outline">
            <mat-label>Middle Name</mat-label>
            <input autocomplete="off" matInput formControlName="middleName">
          </mat-form-field> -->
          <mat-form-field class="login__formfield  w-50" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input autocomplete="off" required matInput formControlName="lastName">
          </mat-form-field>
          <mat-form-field class="login__formfield w-50" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select autocomplete="off"  required formControlName="gender">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="login__formfield  w-50" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <span matPrefix>+91 &nbsp;</span>

            <input autocomplete="off" required matInput formControlName="mobileNo">
          </mat-form-field>
          <mat-form-field class="login__formfield  w-50" appearance="outline">
            <mat-label>Email</mat-label>
            <input autocomplete="off" required matInput formControlName="email">
            <mat-error
              *ngIf="signUpForm.get('email').hasError('email') && (signUpForm.get('email').dirty || signUpForm.get('email').touched)">
              Enter valid email
            </mat-error>
          </mat-form-field>
          <button mat-raised-button class="login__button" (click)="signUpFormData()" [disabled]="!signUpForm.valid"
            color="primary">SIGNUP</button>
        </form>
      </div>
    </div>
  </div>
</div>
