::ng-deep .login__formfield .mat-form-field-infix { top: .25em!important; }


.w-50{
    width: 50%;
}
.w-30{
    width: 30%;

}
.w-70{
    width: 70%;
}
 .login__brand{
        color: #EC7373;
    }
.mobileView{
    @media only screen and (min-width: 425px) and (max-width: 768px)  {
        .abstractimage {
            width: 400px !important;
        }
        .login__blueContainer{
            padding: 30px !important;
            display: flex !important; 
            justify-content:center !important;
        }
        .login__tittle{
            padding: 45px 30px 0px 30px !important;
        }
        .login__form{
            width: 80% !important;
        }
        }
    height: 100%;
   
    .overflow-hidden{
        overflow: hidden;
    }
    .overflow-scroll{
        overflow:auto;
    }
    .h-45{
        height: 45vh;
    }
    .login__whiteContainer{
    background-color: white;
    height: 45%;
    img{
        width: 320px;
        // width: 85%;
        display: block;
        margin:auto;
    }
    .login__tittle{
        font-size: 32px;
        padding: 30px 15px 0px 15px;
        margin: 0px;
        font-family: 'Fira Sans', sans-serif;
    }
   
    }
    .login__blueContainer{
        background-color: #f29d9d;
        height: 55%;
        display: block;
        margin: 0px;
        padding: 15px;
        position: relative;
        .login__form{
            padding: 15px;
            width: 100%;
            background: white;
          
            margin-top: -60px;
            border-radius: 10px;
            display: block;
            .forgotPassword{
                display: block;
                float: right;
            }
            .login__button{
                background-color: #EC7373;
                width: 40%;
                margin: auto;
                display: block;
                margin-top: 45px;
            }
        }
    }
    
    
}
.webView{
    display: flex;
    height: 100vh;
    padding: 0px;
    margin:0px;
    width: 100%;
    .login__whiteContainer{
        width: 50%;
        background-color: white;
        padding: 45px;
        .login__tittle{
            font-size: 36px;
        }
        .login__meta{
            font-size: 16px;
        }
        .abstractimage{
            width: 70%;
            display: block;
            margin: auto;
        }
        .forgotPassword{
            display: block;
            text-align: right;
        }
        .login__button{
            background-color: #EC7373;
            width: 50%;
            margin: auto;
            display: block;
            margin-top: 30px;
        }
    }
    .login__blueContainer{
        width: 50%;
        background-color: #f29d9d;
        padding: 45px;
        height: 100vh;
        .signup__whitebox{
            background-color: white;
            border-radius: 20px;
            height:100%;
            .login__formfield{
                padding: 0px 5px;
            }
            padding: 45px;
            .signup__tittle{
                font-size: 36px;
            }
            .signup__copy{
                font-size: 16px;
            }
            .signup__scrolldiv{
                height: calc(100% - 110px);
                //   overflow: scroll;
            }
            .login__button{
                background-color: #EC7373;
                width: 50%;
                margin: auto;
                display: block;
                margin-top: 30px;
            }
        }
    }
}






::ng-deep .mat-ink-bar {
    background-color:#3a77fe !important;}
  
::ng-deep .mat-tab-label-active {
    color:#3a77fe !important;
    
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #3a77fe;
  }
  
  
::ng-deep .mat-tab-label {
    font-size: 16px;
}

.forgotPasswordCtr{
    .login__button{
        background-color: #EC7373;
        width: 50%;
        margin: auto;
        display: block;
    }
    .justify-content-space-around{
        justify-content:space-around;
    }
}