
<div class="container-fluid m-0 p-0">
    <div class="col-12 ">
        <div class="row topRow">
       <h1>Join Group</h1>
    </div>
        <div class="row middleRow">
      <div class="participantCont">
         <h1>{{GroupName}}</h1>
  
  
    </div> 
        </div>
        <div class="row  leaveRow">
            <button mat-raised-button (click)="decline()" class="leaveGroup"> 
                Decline</button>
            <button (click)="accept()" mat-raised-button class="leaveGroup"> 
                Accept</button>
        </div>
    </div>
  
  </div>