
<div class="container-fluid m-0 p-0">
    <form (ngSubmit)="newGroup()" >
  <div class="col-12 ">
      <div class="row topRow">
     <h1>Create Group</h1>
  </div>

      <div class="row middleRow">
     <h1 class="participant">Name</h1>
    <div class="participantCont">
       
        <mat-form-field appearance="fill">
            <mat-label>Name your Group</mat-label>
            <input name ="groupName" required [(ngModel)]="GroupMasterModel.name" matInput placeholder="Friends and Family">
          </mat-form-field>


  </div> 
      </div>
      <div class="row  leaveRow">
          <button type="submit" mat-raised-button class="leaveGroup"> 
              New Group</button>
      </div>
  </div>
</form>
</div>