.topRow{
    background-color: #EA8181;
    padding: 15px 12px 0px 15px;    color: #FFF;
    font-family: "Fira Sans";
    font-size: 20px;
    line-height: 24px;
    justify-content: space-between;
    align-items: baseline;
    img{
        width: 22px;
        height: 22px;
    }
}
.leaveGroup{
    background-color: #E87373;
    color: white;
}
.middleRow{
    padding: 15px;
    max-height: 350px;
    display: flex;
    flex-direction: column
    ;
.participant{
    color: #000;
    font-family: Roboto;
    font-size: 11px;
    line-height: 9px;
  text-transform: uppercase;
  font-weight: bold;
  
}
.participantCont{
    .bg-green{
        background-color: green;
    }
    .bg-yellow{
        background-color: yellow;
    }
    .bg-red{
        background-color: red;
    }
    .bg-grey{
        background-color: gray;
    }
    
    span{
        padding: 10px;
       
        border-radius: 5px;
        margin: 5px;
        display: inline-block;
    }
  }
}
.leaveRow{
    display: block;
    float: right;
    padding: 15px;
    span{
        color: #000;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
    }
}