


 <div class="container-fluid mobileView p-0  d-md-none overflow-hidden">
    <div class="login__whiteContainer">
      <h1 class="login__tittle">Welcome to <span class="login__brand">Svā</span></h1>
      <img class="abstractimage" src="../../../../assets/svg/Signup.svg" alt="">
    </div>
    <div class="login__blueContainer">
      <div class="login__form mat-elevation-z18">
        <mat-tab-group animationDuration="200ms">
          <mat-tab label="Password">
    
            <form  [formGroup]="passwordSetForm">
              <mat-form-field class="login__formfield mt-3 w-100" appearance="outline">
                <mat-label>New Password</mat-label>
                <input required formControlName="v_password" matInput name='password' >
            
              </mat-form-field>
              <mat-form-field class="login__formfield w-100" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input  required formControlName="c_password" matInput type="password"name='confirmPassword' >
    
              </mat-form-field>
              <!-- <span> Use a strong and unique password</span> -->
              <button mat-raised-button class="login__button" (click)="generatePassword()" [disabled]="!passwordSetForm.valid && (passwordSetForm.get('c_password').value != passwordSetForm.get('v_password').value) "  color="primary">Create Password</button>   

              
            
            </form>
          </mat-tab>
         
        </mat-tab-group>
  
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid webView d-none d-md-flex">
  <div class="login__whiteContainer">

    <h1 class="login__tittle">Welcome to <span class="login__brand">Svā</span></h1>
    <h3 class="">Login to track your health and Progress online</h3>
    <img class="abstractimage" src="../../../../assets/svg/Signup.svg" alt="">
    
    <form [formGroup]="passwordSetForm">
      <mat-form-field class="login__formfield mt-3 w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input  required formControlName="v_password" matInput name="password" >
      
      </mat-form-field>
      <mat-form-field class="login__formfield w-100" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input required formControlName="c_password" matInput type="password" name="confirmPassword" >

      </mat-form-field>
      <button mat-raised-button class="login__button" (click)="generatePassword()" [disabled]="!passwordSetForm.valid"  color="primary">Create Password</button>

      
    
    </form>
  </div> 
  <div class="login__blueContainer">
  <!-- <div class="signup__whitebox">
   
  </div> -->
  </div>
  </div>
