<div class="container-fluid mobileView d-lg-none" *ngIf="isMobile">
  <div class="layout__body">
    <router-outlet  ></router-outlet>

  </div>

  
    <div class="layout__footer">
     <div class="nav-link-container">
      <span class="nav_tag">Home</span>
      <mat-icon  routerLink="dashboard" [routerLinkActive]="['active']" class="unactive"  svgIcon="mydashboard">mydashboard</mat-icon>

     </div>
     <div class="nav-link-container">
      <span class="nav_tag">Groups</span>

      <mat-icon  routerLink="group" [routerLinkActive]="['active']"class="unactive" routerLinkActive="active-link" svgIcon="mygroup">mydashboard</mat-icon>

</div>
<div class="nav-link-container">
  <span class="nav_tag">Profile</span>

  <mat-icon   routerLink="user"  [routerLinkActive]="['active']"class="unactive"  routerLinkActive="active-link" svgIcon="myuser">mydashboard</mat-icon>

</div>

      <!-- <mat-icon   routerLink="/report"  [routerLinkActive]="['active']"class="unactive" routerLinkActive="active-link" svgIcon="myreport">mydashboard</mat-icon> -->
      <!-- <img  class="unactive" routerLink="/dashboard" src="../../../../assets/svg/nav_dashboard.svg" alt="">
      <img class="unactive" routerLink="/group" src="../../../../assets/svg/nav_groups.svg" alt="">
      <img class="unactive"  routerLink="/report"src="../../../../assets/svg/nav_report.svg" alt="">
  
      <img  class="unactive" routerLink="/user"src="../../../../assets/svg/nav_user.svg" alt=""> -->
  
    
    </div>
  </div>
<div class="container-fluid webView d-none d-lg-flex" *ngIf="!isMobile">
  <div class="layout__left mat-elevation-z2">
   <div class="topBranding">
    <img src="../../../../assets/Sva updated Logo svg.svg" alt=""  routerLink="dashboard" >
   </div>
   <div class="navigationLinks">
     <div class="nav-box" routerLink="dashboard">
      <mat-icon  [routerLinkActive]="['active']" class="unactive"  svgIcon="mydashboard">mydashboard</mat-icon>
      <span>Home</span>

     </div>
     <div class="nav-box" routerLink="group">
      <mat-icon  [routerLinkActive]="['active']"class="unactive" routerLinkActive="active-link" svgIcon="mygroup">mydashboard</mat-icon>


       <span>Groups</span>
           </div>
     <!-- <div class="nav-box" routerLink="/report">
      <mat-icon    [routerLinkActive]="['active']"class="unactive" routerLinkActive="active-link" svgIcon="myreport">mydashboard</mat-icon>

       <span>Report</span>
      </div> -->
     <div class="nav-box" routerLink="user">
      <mat-icon     [routerLinkActive]="['active']"class="unactive"  routerLinkActive="active-link" svgIcon="myuser">mydashboard</mat-icon>

       <span>Profile</span>
      </div>
   </div>
 
  </div>

    <div class="layout__right">
      <router-outlet  ></router-outlet>

    
    </div>
  </div>
  