.unactive{
  color:#bdbdbd
}
.active{
  color:#E87373

}

.mobileView {
    margin: 0px;
    padding: 0px;
    height: 100%;
   .layout__body{
     height: calc(100% - 50px);
   }
  .layout__footer{
    height: 50px;
    padding: 0px 15px;
    justify-content: space-around;
    display: flex;
    background-color: #FFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    align-items: center;
    .nav-link-container{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
      font-size: 11px;
  
    }
    img{
      width: 20px;
    }
  }
  }
  
  .webView{
    margin: 0px;
    height: 100%;
    padding: 0px;
    
    .layout__left{
      width: 250px;
      height: 100%;
      display: inline-flex;
      padding: 30px;
    flex-direction: column;
    .topBranding{
      height: 100px;
      display: flex;
      align-items: baseline;
      img{
        width: 100px;
      }
    
    }
    .nav-box{
      margin: 15px 0px;
    }
    mat-icon{
          margin-right: 15px;
        }
    }
    .layout__right{
      width: calc(100% - 250px);
      height: 100%;
      display: inline-flex;
    }
  }

  ::ng-deep app-dashboard-view{
width: 100%;
  }

  ::ng-deep app-report-view{
width: 100%;
  }

  ::ng-deep app-group-view{
width: 100%;
  }

  ::ng-deep app-user-persona-view{
width: 100%;
  }