::ng-deep app-dummy-view{
  width: 100%;
}
.mobileView {
  .w-100{
    width: 100%;
  }
    margin: 0px;
    padding: 0px;
    height: 100%;
    .report__header {
         background-color: #E87373;
    padding: 30px 45px 30px 35px;
    height: 100px;
    display: flex;
      h1 {
        color: white;
        margin: 0px;
        font-family: "Fira Sans";
        font-size: 28px;
      }
  
      h5 {
        color: white;
        margin: 0px;
        color: #FFF;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 300;
        line-height: 19px;
      }
      .report__header__actionbar {
        display: flex;
        justify-content: flex-end;
  
      }
  
      .action__card {
        display: flex;
        margin: 15px 15px 0px 15px;
        flex-direction: column;
        color: white;
  
        span {
          font-family: Roboto;
          font-size: 12px;
          font-weight: 300;
          line-height: 19px;
          text-transform: uppercase;
          margin-left: 10px;
          display: block;
        }
      }
  
      .action__btn {
        .action__btn__img {
  
          height: 15.97px;
          width: 12.83px;
          margin-right: 10px;
  
  
        }
  
        background-color: white;
        color:black;
        text-transform: uppercase;
      }
    }
  
    .report__body {
      padding: 15px;
      height: calc(100% - 100px);
      overflow: auto;
    .report__filters{
      
    display: flex;

       justify-content: space-between;
       .groupControler{
        width: 100%;
       }
       .timeControler{
        width: 100%;
       }
    }
    }
//   
  }
  .action__btn{
    background-color: #E87373;
    color: white;
  }