<div class="container-fluid mobileView">
  <div class="report__header">
    <h1>Insights</h1>

  </div>
  <div class="report__body">
    <h1>Group Covid19 Insights</h1>

    <div class="report__filters d-flex">
      <div class="row w-100">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <mat-form-field appearance="fill" class="groupControler">
            <mat-label>Select Group</mat-label>
            <mat-select  [(ngModel)]="selectedGroupId" name="groupId">
              <mat-option *ngFor="let group of ListOfGroups" [value]="group.groupId">
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
          <mat-form-field appearance="fill" class="timeControler">
            <mat-label>Duration</mat-label>
            <mat-select  [(ngModel)]="selectedDuration">
              <mat-option *ngFor="let food of duration" [value]="food">
                {{food}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 col-sm-2 col-md-1 col-lg-1">
          <button mat-raised-button (click)="ShowLatestGroupReport()" class="action__btn">Go</button>

        </div>
        <div class="col-6 col-sm-2 col-md-1 col-lg-1 text-right">
          <button mat-raised-button (click)="ShowLatestGroupReport()" class="action__btn__secondary">Clear Filter</button>

        </div>
      </div>


    </div>
    <div class="report__dataContainer">
      <div class="row">
        <div *ngIf="DisplayData"   class="col-12 col-md-6 col-sm-6">
          <app-piechart [childData]="PieChartDataObject" (onColorSelection)="RecentReportByColor($event)">
          </app-piechart>
        </div>
        <div  *ngIf="showPersonalData" class="col-12 col-md-6 col-sm-6">
       
      <h1> Recent Assesments</h1>
      <app-recent-report-view [recentReportArray]="RecentReport"></app-recent-report-view>
      <!-- <app-recent-report-view *ngIf="showTotalGroupData" [recentReportArray]="RecentReport"></app-recent-report-view> -->
      <!-- <app-recent-report-view *ngIf="showZonewiseData" [recentReportArray]="RecentReport"></app-recent-report-view> -->
        </div>
      </div>
    

    </div>
  </div>

</div>