<div class="container-fluid mobileView">
  <div class="group__header">
    <div class="group__header__caption">
      <h1>Groups</h1>
      <h5>Check your groups over a click</h5>
    </div>

    <div class="group__header__actionbar">
      <div class="action__card">
        <button mat-raised-button class="action__btn" (click)="createGroup()">
          <!-- <img
            class="action__btn__img"
            src="../../../../assets/icons/add.png"
            alt=""
          /> -->
         New Group
        </button>
      </div>
    </div>
  </div>
  <div class="group__body">
    <div
      class="col-12 col-sm-6 col-md-4 d-inline-block"
      *ngFor="let item of listOfCards"
    >
      <div
        class="groupCard"
        [ngClass]="{
          purple: item.bg === 'purple',
          green: item.bg === 'green',
          yellow: item.bg === 'yellow',
          red: item.bg === 'red',
          blue: item.bg === 'blue',
          orange: item.bg === 'orange',
          lightblue: item.bg === 'lightblue',
          pink: item.bg === 'pink'
        }"
      >
        <div class="row" (click)="viewGroup(item)">
          <div class="col-2 col-sm-3 col-md-2">
            <span class="group__card__init"
              >{{ item?.name[0] }}{{ item?.name[1] }}</span
            >
          </div>
          <div class="col-10 col-sm-9 col-md-10">
            <div class="row groupBar">
              <h1 class="group__name">{{ item?.name }}</h1>
              <h5 class="group__meta">
                {{ item.users }} Participants 
                <!-- {{ item.createdDate | date: "mediumDate" }} -->
              </h5>
            </div>
          </div>
        </div>
        <div class="row" (click)="viewGroup(item)">
          <div class="col-12 group__action">
            <button
              mat-raised-button
              class="action__btn"
              (click)="ViewReport(item.groupId)"
            >
              <img
                class="action__btn__img mr-2"
                src="../../../../assets/svg/View Group Report Transparent.svg"
                alt=""
              />View Report
            </button>
          </div>
        </div>
        <div class="row group__shareLink__row">
          <div class="col-8 shareLink__drop text-decoration-underline">
            <span>{{ item.InviteId }}</span>
          </div>
          <div
            (click)="alert()"
            [cdkCopyToClipboard]="item.InviteId"
            class="col-4 inviteLink__container"
          >
            <span>Invite Link </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="group__footer">
      <img src="../../../assets/icons/pattern-design.svg" alt="">
      <img src="../../../assets/icons/Navigation Group.svg" alt="">
      <img src="../../../assets/icons/profit-report.svg" alt="">
  
      <img src="../../../assets/icons/User Profile.svg" alt="">
  
    
    </div> -->
</div>
