



// .purple{
//   background-color:#a352dd;
//   .shareLink__drop{
//     background-color: #8E34CC;
//   }
// }
// .green{
//   background-color:#00c36d;
//   .shareLink__drop{
//     background-color: #28d886;
//   }
// }
// .yellow{
//   background-color:#ffcd00;
//   .shareLink__drop{
//     background-color: #FFCD00;
//   }
// }
// .red{
//   background-color:#ff5c58;
//   .shareLink__drop{
//     background-color: #FF5C58;
//   }
// }
// .blue{
//   background-color:#2775fb;
//   .shareLink__drop{
//     background-color: #4E8EFB;
//   }
// }
// .orange{
//   background-color:#ff8800;
//   .shareLink__drop{
//     background-color: #FF8800;
//   }
// }
// .lightblue{
//   background-color:#00cfe0;
//   .shareLink__drop{
//     background-color: #00CFE0;
//   }
// }
// .pink{
//   background-color:#f4588d;
//   .shareLink__drop{
//     background-color: #f77ca6;
//   }
// }

.mobileView {
    margin: 0px;
    padding: 0px;
    height: 100%;
    .group__header {
      background-color: #E87373;
      padding: 30px 45px 30px 35px;
      height: 100px;
      display: flex;
      .group__header__caption{
        width: 50%;
        display: inline-block;
        h1 {
          color: white;
          margin: 0px;
          font-family: "Fira Sans";
          font-size: 28px;
        }
    
        h5 {
          color: white;
          margin: 0px;
          color: #FFF;
          font-family: Roboto;
          font-size: 16px;
          font-weight: 300;
          line-height: 19px;
        }
      }
     
  
      .group__header__actionbar {
        display: inline-block;
        width: 50%;
        justify-content: flex-end;
        .action__card {
          display: flex;
          flex-direction: column;
          color: white;
          margin-left: auto;
          width: fit-content;
    
          span {
            font-family: Roboto;
            font-size: 12px;
            font-weight: 300;
            line-height: 19px;
            text-transform: uppercase;
            margin-left: 10px;
            display: block;
          }
        }
      }
  
      .action__btn {
        
  
        background-color: white;
        color:black;
        text-transform: uppercase;
      }
    }
  .group__body{
    padding: 15px;
    height: calc(100% - 100px);
    overflow: auto;
    .groupCard{
        border-radius: 5px;
        padding: 15px;
        margin-bottom: 15px;
        border: 1px solid #e88888;
        .groupBar{
            flex-direction: column;
            padding-left: 15px;
            h1{
                margin: 0px;

            }
            h5{
                margin: 0px;
            }
        }
        .group__shareLink__row{
            margin-top: 15px;
            margin-left: 0px;
            margin-right: 0px;
            .inviteLink__container{
                display: flex;
                cursor: pointer;
                justify-content: flex-end;
                align-items: center;
                text-decoration: underline;
            }
            span{
                // color: #FFF;
                font-family: Roboto;
                font-size: 13px;
                display: block;
                border-bottom: 1px solid white;
                line-height: 18px;
               
            }
            .shareLink__drop{
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color:#F2F2F2;
                box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.5);          
                span{
                    word-break: break-word;
                    display: block;
                    overflow: hidden;
                    // color: white;
                    height: 21px;
                }
            }
        }
    .group__action{
        text-align: right;
        border-bottom: 1.5px solid #F2F2F2;
        .action__btn{
            margin: 20px 0px;
        }
    }
        .group__card__init{
            color: white;
            background: #EA8181;
            border-radius: 50%;
            width: 40px;
            display: flex;
            height: 40px;
            font-size: 20px;
            justify-content: center;
            align-items: center;
        }
        .group__name{
            // color: #FFF;
            font-family: "Fira Sans";
            font-size: 22px;
            line-height: 26px;
          }
          .group__meta{
            // color: #FFF;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 300;
            line-height: 18px;
          
          }
        }
    }

  }
  ::ng-deep .mat-dialog-container{
    padding: 0px !important;
  }
//   .group__footer{
//     height: 50px;
//     padding: 0px 15px;
//     justify-content: space-around;
//     display: flex;
//     background-color: #FFF;
//     box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
//     align-items: center;
//     img{
//       width: 24px;
//     }
//   }
  
@media only screen and (min-width: 320px) and (max-width: 768px)  {
  .group__body{
    height: calc(100% - 140px) !important;
  }
  .group__header{
    background-color: #E87373;
    padding: 15px 45px 15px 35px !important;
    height: 140px  !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around;
  }
  .group__header__caption{
    width: 100% !important;
    display: block !important;
  }
  .group__header__actionbar{
    display: inline-block !important;
  width: 100% !important;
  justify-content: flex-end !important;
  }
  }
  .action__btn__img {
    width: 18px !important;


}