.mycard__card {
    border-radius: 5px;
    padding: 15px;
    position: relative;
    height: 100%;
    margin-bottom: 15px;
    border: 1px solid #e88888;
    .card__bg__icon {
      position: absolute;
      width: 124px;
      right: 0;
      opacity: .5;
      top: 0;
    }

    .card__tittle {
      text-transform: capitalize;
      border-radius: 5px;
      padding: 5px;
      font-family: Roboto;
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
    }

    .card__heading {
      // color: white;
      font-family: "Fira Sans";
      font-size: 22px;
      line-height: 29px;
      margin-top: 15px;
      z-index: 1;
    }
    .card__caption{
      // color: #FFF;
      font-family: Roboto;
     
      z-index: 1;

  }
}
.card__mind{
    // background: linear-gradient(270deg, #FDCD34 0%, #F80 100%);
   
    .card__caption{
      font-size: 13px;
      font-weight: 300;
      line-height: 19px;
    }
  }
  .card__emoticon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    z-index: 1;
    img{
        width: 30px;
        border-radius: 50%;
    }
}
.row{
  margin: 0px;
}

.Ecstatic{
  .Ecstatic__cont{
    width: 35px !important;
  }
  .Ecstatic__img{
    width: 35px;
  }
}
.Happy{
  .Happy__cont{
    width: 35px !important;
  }
  .Happy__img{
    width: 35px;
  }
}
.So-So{
  .So-So__cont{
    width: 35px !important;
  }
  .So-So__img{
    width: 35px;
  }
}
.Unhappy{
  .Unhappy__cont{
    width: 35px !important;
  }
  .Unhappy__img{
    width: 35px;
  }
}
.Sad{
  .Sad__cont{
    width: 35px !important;
  }
  .Sad__img{
    width: 35px;
  }
}

 .Sad__img{
  background-color:#FF7F7D;
}
.Unhappy__img{
  background-color:#FDCD6E;
  
}
.So-So__img{
  background-color:#FEEE68;
}
.Happy__img{
  background-color:#A7EFF3;
}
.Ecstatic__img{
  background-color:#4FEC9F;
}
.card__tittle{
  border-radius: 5px;
  color:white;
  background-color:#EA8181;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 19px;
  }