    <div class="mycard__card card__mind {{CardDisplay.name}}">
            <div class="action__bg__icon">
              <!-- <img class="card__bg__icon" src="{{CardDisplay.bgimg}}" alt=""> -->
          </div>
        <div class="row">
          <span class="card__tittle">Mood: {{CardDisplay.name}}</span>
        </div>
        <div class="row">
          <span class="card__heading">How are you feeling today?</span>
        </div>
        <div class="row">
          <span class="card__caption">Pick your mood</span>
        </div>
        <div class="row mt-4">
            <div (click)="changeMood(item)" class="card__emoticon {{item.name}}__cont" *ngFor='let item of  cardChange'>
              <img src="{{item.img}}" class="mat-elevation-z8 {{item.name}}__img " alt=""> 
  
            </div>
           
            
           
        </div>
          </div>