::ng-deep app-assesment-splash{
 width: 100%; 
}
.bigImage{
    width: 50%;
display: block;
margin: auto
}
.bluebox{
    background-color: #Ec8787;
    padding: 30px 35px 30px 20px;

    h1{
        padding-top: 30px;
        color: #FFF;
        font-family: "Fira Sans";
        font-size: 28px;
        line-height: 34px;
    }
    
}
.mymeta-card{
    border-radius: 5px;
    background-color: #FFF;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
.mycard{
    border-radius: 5px;
    background-color: #FFF;
    margin-top: 15px;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    h2{
        color: #000;
        font-family: "Fira Sans";
        font-size: 24px;
        line-height: 29px;
        margin-top: 15px;
        text-align: center;
    }
    h3{
        color: #000;
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
    }
    
    .iconCont{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
}
.container-fluid{
    height: 100%;
}
.leaveGroup{
    background-color: #0077FE;
    color :white;
}
.bottomBar{
    
    height: calc(100% - 140px);
    .h-100{
        height: 100%;
        overflow: scroll;
        .mymeta-card{
            margin-bottom: 30px;

        }
    
    }
}