<div class="container-fluid" *ngIf="ShowBody">
    <div class="row bluebox">
        <div class="col-12">
            <h1>Assessment </h1>
        </div>
    </div>
    <div class="row bottomBar">
        <div class="col-12 h-100 ">
            <div class="mycard" >
                <div class="row">
                    <div class="col-12 col-md-3 mx-auto iconCont">
                        <img src="{{Spash.img}}" alt="">

                    </div>

                </div>
                <div class="row justify-content-center">
                    <h2>{{Spash.Tittle}}</h2>
                </div>

                <div class="row justify-content-center">
                    <div class="col-10 mx-auto">
                        <h3>{{Spash.Caption}}</h3>
                    </div>
                </div>

               

            </div>
            <div class="mymeta-card">
                <div class="col-12">
                    <div class="row"> 
                        <div class="col-11  mx-auto">
                            <img class="bigImage" src="{{Spash.bigImage}}" alt="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1>Some guidelines you can follow</h1>
                            <p *ngFor="let item of Spash.Guidelines">{{item}}</p>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-12">
                            <p>Maintain Social Distancing

                            </p>
                            <p>Wear a mask and stay a minimum of six feet away from anyone you don't know.

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>NEXT STEPS


                            </p>
                            <p>Stay six feet away from others

                            </p>
                            <p>- Wear a mask around others


                            </p>
                            <p>Wash hands frequently

                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>RECCOMENDATIONS


                            </p>
                            <p>Take care of yourself


                            </p>
                            <p>- Watch for symptoms



                            </p>
                            <p> If symptoms worsen, refer to CDC/ WHO guidelines

                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="mymeta-card">
                <div class="col-12">
                
                    <div class="row">
                        <div class="col-12">
                            <h1>Here is something that you can practice daily:</h1>
                            <p>Start by sitting in a comfortable position in a quiet place </p>
                            <p>Next close your eyes  </p>
                            <p>Take a deep breath and become aware of your surroundings  </p>
                            <p>Take 5 minutes and focus on only one behaviour with awareness </p>
                            <p>For example: Notice how the air feels on your face when you're walking or focus on the texture and taste of each bite
                                of food </p>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="mymeta-card">
                <div class="col-12">
                
                    <div class="row">
                        <div class="col-12">
                            <h1>Important Web Links</h1>
                           <a target="_blank" href="https://www.mohfw.gov.in/" > <p>Ministry Of Health and Family Welfare india</p> </a>
                            <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/"> <p>World health Organinzation (WHO)</p>  </a>
                            <a  target="_blank" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" > <p>Center of Disease Control and Prevention (CDC)</p>  </a>
                        </div>
                    </div>
                    <div class="row justify-content-center text-center ">
                        <div class="col-10 mx-auto">
                            <button mat-raised-button routerLink="/app/dashboard" class="leaveGroup ">
                                Finish </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" *ngIf="!ShowBody">
    <div class="row bluebox">
        <div class="col-12">
            <h1>Assessment</h1>
        </div>
    </div>
    <div class="row bottomBar">
        <div class="col-12 h-100 ">
            <div class="mycard">
                <div class="row">
                    <div class="col-12 iconCont">
                        <img style="color: yellow" src="../../../assets/svg/mind_report.svg" alt="">

                    </div>

                </div>
                <div class="row justify-content-center">
                    <h2>Hey! You've been doing a great job at<br> looking after yourself so far </h2>
                </div>



                <div class="row justify-content-center text-center ">
                    <div class="col-10 mx-auto">
                        <button mat-raised-button routerLink="/app" class="leaveGroup ">
                            Back </button>
                    </div>
                </div>

            </div>
            <div class="mymeta-card">
                <div class="col-12">
                    <div class="row"> 
                        <div class="col-11  mx-auto">
                            <img class="bigImage" src="../../../assets/svg/mind.svg" alt="">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <h1>These are a few things that we think can help you:</h1>
                            <p>{{AnxietyState}}  </p>
                            <p>{{LonelinessState}}  </p>
                            <p>{{ConfidenceState}}  </p>
                            <p>{{DepressionState}}  </p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <div class="mymeta-card">
                <div class="col-12">

                    <div class="row">
                        <div class="col-12">
                            <h1>Here is something that you can practice daily:</h1>
                            <p>Start by sitting in a comfortable position in a quiet place </p>
                            <p>Next close your eyes  </p>
                            <p>Take a deep breath and become aware of your surroundings  </p>
                            <p>Take 5 minutes and focus on only one behaviour with awareness </p>
                            <p>For example: Notice how the air feels on your face when you're walking or focus on the texture and taste of each bite
                                of food </p>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>